/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/
.original-box-button-container {
  text-align: right;
}

#original-code-box {
  width: 600px;
  height: 500px;
}

#suggestion-code-box {
  width: 600px;
  height: 500px;
}