/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/
.home {
}

#original-code-box {
  width: 600px;
  height: 500px;
}

#suggestion-code-box {
  width: 600px;
  height: 500px;
}