<template name="Home">
  <div class="row expanded">
    <div class="large-12 columns">
      <h3>Welcome to our Pair Programming app</h3>
    </div>
  </div>

  <div class="row expanded">&nbsp;<br/>&nbsp;</div>

  <div class="row expanded">
    <div class="large-1 columns">
      <label>Snippet Identifier:</label>
      <input type="text" placeholder="no-token-specified"
      value={{currentSnippet.token}}
      disabled="disabled" />
    </div>
  </div>

  <div class="row expanded">&nbsp;<br/>&nbsp;</div>

  <div class="row expanded">
    <div class="large-6 columns">
      <div class="callout large">
        <h4>Your code snippet:</h4>
        <div id="original-code-box"></div>
      </div>
    </div>
    <div class="large-6 columns">
      <div class="callout large">
        <h4>Suggestion:</h4>
        <div id="suggestion-code-box"></div>
      </div>
    </div>
  </div>
</template>
